body {
  background-color: #fdf6f0;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  text-align: center;
}
.color {
  background-color: #6b3a3a;
  color: white;
}
.banner-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
#banner {
  object-position: center 60%;
}
.product-card {
  border: none;
  overflow: hidden;
  position: relative;
  transition: 0.3s;
}
.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
/* .img-wrapper {
  position: relative;
  overflow: hidden;
} */
.sale-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}
.cart-btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: #333;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 50%;
  opacity: 0;
  transition: 0.3s;
}
.product-card:hover .cart-btn {
  opacity: 1;
}
.price {
  color: #8bc34a;
  font-weight: bold;
}

.footer {
  background-color: #6b3a3a;
  color: white;
}

.footer ul li {
  margin-bottom: 8px;
  cursor: pointer;
}

.footer ul li:hover {
  text-decoration: underline;
}

.footer-bottom {
  background-color: #6d472e;
}
.hover-nav a:hover {
  text-decoration: underline;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.product-box {
  background: #fff;
  border-radius: 12px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.product-img {
  border-radius: 10px;
}

.product-info {
  padding-left: 30px;
}

.product-price {
  font-size: 24px;
  font-weight: bold;
  color: #6b3a3a;
}
.size {
  border-radius: 10px;
  border: 1px solid #ddd;
}
.btn-cart {
  background-color: #6b3a3a;
  border-radius: 10px;
  border: 1px solid #ddd;
  color: white;
  padding: 7px 20px;
  font-size: 17px;
  text-decoration: none;
}
.card1 {
  border-radius: 12px;
}

.card1:hover {
  transform: translateY(-3px);
  transition: 0.3s;
}
